<?xml version="1.0"?>
<config>
    <modules>
        <FW_Totalsfixphp7>
            <version>0.1.0</version>
        </FW_Totalsfixphp7>
    </modules>
    <global>
	<models>
	    <sales>
                <rewrite>
                    <quote_address_total_collector>FW_Totalsfixphp7_Model_Sales_Quote_Address_Total_Collector</quote_address_total_collector>
                </rewrite>
            </sales>
	</models>
    </global>
</config>
